:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


.highlight {
  background-color: #d21762;
  color: #000;
  font-size: 20px;
}

 .todo-item, .header {
  padding: 16px;
  font-size: 20px;
  width: 30rem;
}

.todo-item {
    border-top: 1px solid darkgray;
}

.todo-item-description{
    display: flex;
    justify-content: space-between;
}

.todo-item-date{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: gray;  
}

.todo-item-buttons{
    display:flex;
    gap: 10px;
}
.header {
  padding: 16px;
  display:flex;
  justify-content: space-around;
  flex-direction: row;;
  align-items: center;
  font-size: 30px;
} 

.done {
  text-decoration: line-through;
  color: gray;
}

.button-done{
  opacity: 0.5;
}

.item-count{
  font-size: 1.5em;
}

.header-input{
  height:2.5rem;
  width: 15rem;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size:0.55em
}

.todo-List{
  background-color: black;
  box-shadow: 0px 0px 30px rgba(216, 216, 216, 0.2);
  border-radius: 10px;
}

